@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #2f79edcf;
  font-family: "Poppins", sans-serif;
}
.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 95%;
  background-color: #ffffff;
  border-radius: 0.7rem;
}

.loading-spinner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-spinner-wrapper > div {
  width: 400px;
  height: 400px;
}
