.content {
  height: 100%;
  -webkit-box-shadow: 10px 10px 26px -7px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 10px 10px 26px -7px rgba(0, 0, 0, 0.45);
  box-shadow: 10px 10px 26px -7px rgba(0, 0, 0, 0.45);
}

.content2 {
  position: absolute;
  top: 3rem;
  left: 18rem;
  height: 42rem;
  width: 70rem;
}

.content2 h1 {
  color: #004fcdc7;
}

.content2 input {
  padding: 8px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
}

.content3 {
  position: relative;
  margin-top: 0.8rem;
  height: 33rem;
}

.content3 form {
  position: absolute;
  top: -6.5rem;
  margin-left: 17.4rem;
}

.content3 .pagination {
  display: inline-flex;
  margin-bottom: 0.5rem;
  border-bottom: 0.1rem solid #5692f0ab;
  width: 14.5rem;
}
