.grid-container-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 15px;
}

.square-3 {
  padding: 10px;
  text-align: center;
  width: 22rem;
  height: 2rem;
  color: #0646aa;
}

.square-3:hover {
  cursor: pointer;
  opacity: 0.8;
}

.pagination {
  margin-bottom: 0.5rem;
  border-bottom: 0.1rem solid #5692f0ab;
}

.pagination button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
  background-color: transparent;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  outline: none;
  color: #5692f0;
  border: none;
  font-size: 1.2rem;
}
.pagination button:hover {
  background-color: #5691f040;
}

.active {
  background: rgb(176, 176, 176);
}

.user-profile-picture {
  position: relative;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}
